html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;    
}

body
{
    background-color:#EEE1E1;
    
}

main
{
    max-width: 1200px;
    margin: 0 auto;
}